body {
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.validate {
  width: 500px;
  background-color: #ee82ee;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.validate h2 {
  color: white;
  text-align: center;
  font-weight: 600;
}
.validate a {
  text-align: right;
  text-decoration: none;
}

.validate__formLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.validate__formLogin input {
  border: #ee82ee;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  height: 40px;
  margin-top: 14px;
}
